html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  #background {
    background-image: url('./Images/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #form {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin-top: 11.8vh;
    margin-bottom: 11.8vh;
    
  }
  
  #form h1 {
    margin-bottom: 20px;
  }
  
  #form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #form button:hover {
    background-color: #0056b3;
  }
  
  #login {
    margin-top: 10px;
  }
  
  #login p {
    margin: 0;
  }
  
  #login a {
    color: #007bff;
    text-decoration: none;
  }
  
  #login a:hover {
    text-decoration: underline;
  }